* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #142d4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9fd3c7;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px auto;
}

img {
    /* center using block */
    display: block;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    font-size: 21px;
    margin: 25px 90px;
    background-color: #385170;
    padding: 10px;
}

p {
    display: block;
    margin: 0 auto;
    width: 500px;
}

ul {
    display: block;
    width: 250px;
    margin: 0 auto;
    list-style: none;
}

ol {
    display: block;
    padding: 10px 100px;
    margin: 0 auto;
}

li {
    margin: 5px auto;
}

a {
    display: inline-block;
    width: 100px;
    margin: 0 200px;

    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #142d4c;
    background-color: #9fd3c7;
}
