* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #142d4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #9fd3c7;
    font-size: 40px;
}

ul {
    list-style-type: none;
    width: 500px;
    margin: 20px auto;
}

li {
    text-align: center;
    background-color: #9fd3c7;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #385170;
    font-size: 18px;
}

li:hover {
    background-color: #385170;
}

li:hover a{
    background-color: #385170;
    color: #9fd3c7;
}